h1{
    color: #00b8ff;
}

nb-card a{
    color: #00b8ff;
    float: right;
}

nb-card nb-card-header{
    font-size: 20px;
}

button{
    width: 30%;
    background: #00b8ff !important;
    color: white !important;
    text-transform: capitalize !important;
}

section a{
    color: #00b8ff;
}