<nb-card [nbSpinner]="load?.getLoadingStatus()" nbSpinnerStatus="danger" nbSpinnerSize="giant"
  nbSpinnerMessage="Please wait...">
  <nb-card-header>
    Food Groups List
    <button type="submit" (click)="addFoodGroup()" class="btn">Add Food Group</button>
  </nb-card-header>

  <nb-card-body size="tiny">
    <ng2-smart-table class="order-smart-table" [settings]="settings" [source]="source" (edit)="onEdit($event)"
      (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>