<nb-card [nbSpinner]="load?.getLoadingStatus()" nbSpinnerStatus="danger" nbSpinnerSize="giant"
    nbSpinnerMessage="Please wait...">
    <nb-card-header>Update Password</nb-card-header>
    <nb-card-body>
        <div [formGroup]="passwordForm" class="container">
            <div class="column">

                <div class="form-group">
                    <label for="email">Current password</label>
                    <input nbInput id="email" formControlName="currentPassword" #em minlength="3" maxlength="100"
                        [status]="(currentPassword?.errors?.required || currentPassword?.hasError('minlength') || currentPassword?.hasError('maxlength')) && currentPassword.touched ? 'danger' : 'primary'"
                        class="form-control" placeholder="Current password">
                    <ngx-validation-message label="Current password"
                        [showRequired]="currentPassword?.errors?.required  && currentPassword.touched">
                    </ngx-validation-message>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input nbInput id="password" formControlName="password" #psw
                        nbTooltip="Password must be 8-15 characters long and contains 1 upper case, 1 lower case and 1 numeric character."
                        [status]="(password?.errors?.required || password?.hasError('minlength') || password?.hasError('maxlength')) && password.touched ? 'danger' : 'primary'"
                        class="form-control" placeholder="Password" maxlength="15">
                    <ngx-validation-message label="Password"
                        [showRequired]="password?.errors?.required  && password.touched"
                        [showPattern]="password?.errors?.pattern  && password.touched">
                    </ngx-validation-message>
                </div>

                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input nbInput id="password" formControlName="confirmPassword" #cPsw class="form-control"
                        placeholder="Confirm Password" maxlength="15" [status]="'primary'">
                    <ngx-validation-message label="Confirm Password"
                        [showPasswordMatchError]="(psw.value != cPsw.value) && confirmPassword.touched && password.touched">
                    </ngx-validation-message>
                </div>
            </div>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <button nbButton status="primary" [disabled]="!passwordForm.valid" (click)="updatePassword()"
            hero>Submit</button>
    </nb-card-footer>

</nb-card>